html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    max-width: 1920px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

ul, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.chevron {
    cursor: pointer;
}